$container-min-width: 950px;
$mobile-max-width: 767px;
$banner-max-width: 520px;
$small-device-max-width: 480px;

body {
	background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin main-nav-active() {
    background-color: #daf623;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
            box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
    color: #000000;
}

@mixin heading-3 ($margin) {
    color: #a28b0d;
    font-weight: 700;
    margin-bottom: $margin;
    margin-top: 0;
    padding-bottom: $margin;
    position: relative;
    text-transform: uppercase;
}

.container {
    width: auto;

    @media screen and (min-width: #{$container-min-width}) {
        max-width: 950px;
        width: auto;
    }
}

.wrapper-container {
    margin: 0 auto;
    max-width: 950px;
}

.navbar {
    background-color: #e7ff49;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
            box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    border: none;
    @include border-radius(0);
    margin-bottom: 0;
    min-height: auto;

    .navbar-nav {
        li {
            a {
                color: #352d04;
                text-transform: uppercase;
                &:hover {
                    @include main-nav-active()
                }
            }

            &.active {
                a {
                    @include main-nav-active()

                    &:focus,
                    &:hover {
                        @include main-nav-active()
                    }
                }
            }
        }
    }

    .navbar-toggle {
        background-color: #a28b0d;
        border: none;
        @include border-radius(0);
        margin: 0;
        padding: 18px 20px;

        &:focus,
        &:hover {
            background-color: #a28b0d;
        }

        .icon-bar {
            background-color: #ffffff;
        }
    }

    .navbar-collapse {
        @media screen and (max-width: #{$mobile-max-width}) {
            border-color: #a28b0d;
        }
    }
}

.main-banner {
    background: url('../images/bg-main-banner.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 580px;

    @media screen and (max-width: #{$mobile-max-width}) {
        min-height: 460px;
    }

    &.booking-banner {
        background-image: url('../images/bg-main-booking.jpg');
    }

    &.member-banner {
        background-image: url('../images/bg-main-member.jpg');
    }

    &.service-banner {
        background-image: url('../images/bg-main-service.jpg');
    }

    &.profile-banner {
        background-image: url('../images/bg-main-profile.jpg');
    }

    h1 {
        color: #ffffff;
        font-size: 70px;
        font-weight: 800;
        line-height: 70px;
        margin-top: 120px;
        text-transform: uppercase;

        @media screen and (max-width: #{$banner-max-width}) {
            font-size: 40px;
            line-height: 44px;
            text-align: center;
        }

        span {
            background-color: #a28b0d;
            color: #ffffff;
            font-size: 52px;
            padding: 0 5px;

            @media screen and (max-width: #{$banner-max-width}) {
                font-size: 30px;
            }
        }
    }
}

.section-container {
    padding-bottom: 80px;
    padding-top: 80px;

    @media screen and (max-width: #{$mobile-max-width}) {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    &.bg-yellow {
        background-color: #f4ffac;
    }
}

h2 {
    &.section-title {
        color: #a28b0d;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 30px;
        margin-top: 0;
        padding-bottom: 30px;
        position: relative;
        text-transform: uppercase;
        
        &:after {
            border-bottom: 1px solid #a28b0d;
            bottom: 0;
            content: ' ';
            display: block;
            height: 1px;
            left: 50%;
            margin-left: -58px;
            position: absolute;
            width: 116px;
        }

        @media screen and (max-width: #{$mobile-max-width}) {
            font-size: 24px;
            line-height: 32px;
        }
    }
}

h3 {
    &.thumbnail-title,
    &.media-heading {
        &:after {
            border-bottom: 1px solid #a28b0d;
            bottom: 0;
            content: ' ';
            display: block;
            height: 1px;
            left: 0;
            position: absolute;
            width: 116px;
        }
    }

    &.thumbnail-title {
        @include heading-3(30px)
        &:after {
            left: 50%;
            margin-left: -58px;
        }
    }

    &.media-heading {
        @include heading-3(15px)
    }
}

p {
    margin-bottom: 30px;

    &.intro-text {
        font-size: 15px;
        letter-spacing: 0.1em;
        line-height: 22px;
    }
}

.btn {
    @include border-radius(0);
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    min-width: 224px;
    padding: 14px 18px;
    text-transform: uppercase;
}

.btn-yellow {
    background-color: #a28b0d;
    border: 2px solid #a28b0d;
    color: #ffffff;

    &:focus,
    &:hover {
        background-color: transparent;
        color: #a28b0d;
    }

    &.disabled {
        background-color: #a28b0d;
        color: #ffffff;
    }
}

.btn-yellow-outline {
    background-color: transparent;
    border: 2px solid #a28b0d;
    color: #a28b0d;

    &:focus,
    &:hover {
        background-color: #a28b0d;
        color: #ffffff;
    }

    &.disabled {
        background-color: transparent;
        color: #a28b0d;
    }
}

.thumbnail-service {
    background-color: transparent;
    border: none;
    @include border-radius(0);
    padding: 0;

    .btn {
        display: block;
        min-width: auto;
    }

    > img {
        @include border-radius(100%);
        margin-bottom: 20px;
    }
}

.icon-booking {
    max-width: 100%;
    width: auto;
}

footer {
    background-color: #e7ff49;
    color: #352d04;

    .footer-top-group {
        padding: 40px 0;

        @media screen and (max-width: #{$mobile-max-width + 1px}) {
            margin-left: -10px;
            margin-right: 0;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }

    .footer-bottom-group {
        border-top: 1px solid #a28b0d;
        padding: 40px 0 20px;

        @media screen and (max-width: #{$mobile-max-width + 1px}) {
            padding-top: 20px;
        }
    }

    .footer-menu {
        margin-bottom: 0;
        @media screen and (max-width: #{$mobile-max-width + 1px}) {
            text-align: left;
            margin-right: -15px;
        }

        li {
            padding-left: 15px;
            padding-right: 15px;

            @media screen and (max-width: #{$mobile-max-width + 1px}) {
                display: block;
                padding: 0;
            }

            &:before {
                color: #a28b0d;
                content: "\2022";
                display: inline-block;
                margin-right: 25px;

                @media screen and (max-width: #{$mobile-max-width + 1px}) {
                    content: "";
                    display: none;
                }
            }

            &:first-child:before {
                content: "";
            }

            a {
                color: #352d04;

                @media screen and (max-width: #{$mobile-max-width + 1px}) {
                    display: block;
                    padding: 10px 15px;
                    text-decoration: none;
                }

                &:hover {
                    @media screen and (max-width: #{$mobile-max-width + 1px}) {
                        background: #a28b0d;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

.media-profile {
    img {
        width: 200px;
    }

    p {
        font-size: 15px;
        letter-spacing: 0.1em;
        line-height: 22px;
        margin-bottom: 20px;
    }
}

.nav-profile {
    li {
        a {
            color: #a28b0d;

            &:focus,
            &:hover {
                background-color: #e7ff49;
                color: #352d04;
            }
        }
    }
}

.thumbnail-booking {
    @include border-radius(0);
    border-color: #a28b0d;
    padding: 20px 4px 0;

    .btn {
        display: block;
        min-width: auto;
    }
}

.booking-checkbox {
    border: medium none;
    height: 1px;
    left: -9999px;
    outline: medium none;
    position: absolute;
    top: 0;
    width: 1px;
}

.page-member-container {
    .btn {
        @media screen and (max-width: #{$small-device-max-width}) {
            display: block;
            float: none !important;
            margin-top: 10px;
            min-width: auto;
            width: 100%;
        }
    }
}