body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
}

.container {
  width: auto;
}

@media screen and (min-width: 950px) {
  .container {
    max-width: 950px;
    width: auto;
  }
}

.wrapper-container {
  margin: 0 auto;
  max-width: 950px;
}

.navbar {
  background-color: #e7ff49;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  min-height: auto;
}

.navbar .navbar-nav li a {
  color: #352d04;
  text-transform: uppercase;
}

.navbar .navbar-nav li a:hover {
  background-color: #daf623;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  color: #000000;
}

.navbar .navbar-nav li.active a {
  background-color: #daf623;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  color: #000000;
}

.navbar .navbar-nav li.active a:focus, .navbar .navbar-nav li.active a:hover {
  background-color: #daf623;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  color: #000000;
}

.navbar .navbar-toggle {
  background-color: #a28b0d;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 18px 20px;
}

.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
  background-color: #a28b0d;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .navbar .navbar-collapse {
    border-color: #a28b0d;
  }
}

.main-banner {
  background: url("../images/bg-main-banner.jpg") no-repeat center;
  background-size: cover;
  min-height: 580px;
}

@media screen and (max-width: 767px) {
  .main-banner {
    min-height: 460px;
  }
}

.main-banner.booking-banner {
  background-image: url("../images/bg-main-booking.jpg");
}

.main-banner.member-banner {
  background-image: url("../images/bg-main-member.jpg");
}

.main-banner.service-banner {
  background-image: url("../images/bg-main-service.jpg");
}

.main-banner.profile-banner {
  background-image: url("../images/bg-main-profile.jpg");
}

.main-banner h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 800;
  line-height: 70px;
  margin-top: 120px;
  text-transform: uppercase;
}

@media screen and (max-width: 520px) {
  .main-banner h1 {
    font-size: 40px;
    line-height: 44px;
    text-align: center;
  }
}

.main-banner h1 span {
  background-color: #a28b0d;
  color: #ffffff;
  font-size: 52px;
  padding: 0 5px;
}

@media screen and (max-width: 520px) {
  .main-banner h1 span {
    font-size: 30px;
  }
}

.section-container {
  padding-bottom: 80px;
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .section-container {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.section-container.bg-yellow {
  background-color: #f4ffac;
}

h2.section-title {
  color: #a28b0d;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 30px;
  margin-top: 0;
  padding-bottom: 30px;
  position: relative;
  text-transform: uppercase;
}

h2.section-title:after {
  border-bottom: 1px solid #a28b0d;
  bottom: 0;
  content: ' ';
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -58px;
  position: absolute;
  width: 116px;
}

@media screen and (max-width: 767px) {
  h2.section-title {
    font-size: 24px;
    line-height: 32px;
  }
}

h3.thumbnail-title:after, h3.media-heading:after {
  border-bottom: 1px solid #a28b0d;
  bottom: 0;
  content: ' ';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  width: 116px;
}

h3.thumbnail-title {
  color: #a28b0d;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 0;
  padding-bottom: 30px;
  position: relative;
  text-transform: uppercase;
}

h3.thumbnail-title:after {
  left: 50%;
  margin-left: -58px;
}

h3.media-heading {
  color: #a28b0d;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 0;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
}

p {
  margin-bottom: 30px;
}

p.intro-text {
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 22px;
}

.btn {
  border-radius: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  min-width: 224px;
  padding: 14px 18px;
  text-transform: uppercase;
}

.btn-yellow {
  background-color: #a28b0d;
  border: 2px solid #a28b0d;
  color: #ffffff;
}

.btn-yellow:focus, .btn-yellow:hover {
  background-color: transparent;
  color: #a28b0d;
}

.btn-yellow.disabled {
  background-color: #a28b0d;
  color: #ffffff;
}

.btn-yellow-outline {
  background-color: transparent;
  border: 2px solid #a28b0d;
  color: #a28b0d;
}

.btn-yellow-outline:focus, .btn-yellow-outline:hover {
  background-color: #a28b0d;
  color: #ffffff;
}

.btn-yellow-outline.disabled {
  background-color: transparent;
  color: #a28b0d;
}

.thumbnail-service {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

.thumbnail-service .btn {
  display: block;
  min-width: auto;
}

.thumbnail-service > img {
  border-radius: 100%;
  margin-bottom: 20px;
}

.icon-booking {
  max-width: 100%;
  width: auto;
}

footer {
  background-color: #e7ff49;
  color: #352d04;
}

footer .footer-top-group {
  padding: 40px 0;
}

@media screen and (max-width: 768px) {
  footer .footer-top-group {
    margin-left: -10px;
    margin-right: 0;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

footer .footer-bottom-group {
  border-top: 1px solid #a28b0d;
  padding: 40px 0 20px;
}

@media screen and (max-width: 768px) {
  footer .footer-bottom-group {
    padding-top: 20px;
  }
}

footer .footer-menu {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  footer .footer-menu {
    text-align: left;
    margin-right: -15px;
  }
}

footer .footer-menu li {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 768px) {
  footer .footer-menu li {
    display: block;
    padding: 0;
  }
}

footer .footer-menu li:before {
  color: #a28b0d;
  content: "\2022";
  display: inline-block;
  margin-right: 25px;
}

@media screen and (max-width: 768px) {
  footer .footer-menu li:before {
    content: "";
    display: none;
  }
}

footer .footer-menu li:first-child:before {
  content: "";
}

footer .footer-menu li a {
  color: #352d04;
}

@media screen and (max-width: 768px) {
  footer .footer-menu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  footer .footer-menu li a:hover {
    background: #a28b0d;
    color: #ffffff;
  }
}

.media-profile img {
  width: 200px;
}

.media-profile p {
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 22px;
  margin-bottom: 20px;
}

.nav-profile li a {
  color: #a28b0d;
}

.nav-profile li a:focus, .nav-profile li a:hover {
  background-color: #e7ff49;
  color: #352d04;
}

.thumbnail-booking {
  border-radius: 0;
  border-color: #a28b0d;
  padding: 20px 4px 0;
}

.thumbnail-booking .btn {
  display: block;
  min-width: auto;
}

.booking-checkbox {
  border: medium none;
  height: 1px;
  left: -9999px;
  outline: medium none;
  position: absolute;
  top: 0;
  width: 1px;
}

@media screen and (max-width: 480px) {
  .page-member-container .btn {
    display: block;
    float: none !important;
    margin-top: 10px;
    min-width: auto;
    width: 100%;
  }
}
