<div class="row">
	<div class="col-md-4 col-6" ng-repeat="book in booking">
		<div class="thumbnail thumbnail-booking">
			<div class="caption">
				<h3 class="thumbnail-title text-center">{{book.name}}</h3>

				<div ng-repeat="slot in book.slots">
					<p class="booking-time text-center">{{slot.time}}</p>
					<p>
						<input class="booking-checkbox" type="checkbox" id="{{ book.name }}-{{ $index }}" ng-model="slot.booked" ng-disabled="slot.booked">
						<label class="btn btn-yellow" for="{{ book.name }}-{{ $index }}" ng-class="slot.booked ? 'disabled' : ''">
							<span ng-if="slot.booked">Booked</span>
							<span ng-if="!slot.booked">Available</span>
						</label>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>