<div class="row member-list">
	<div class="col-md-4 col-sm-6" ng-repeat="result in data.results">
		<h3 class="media-heading">
			{{result.name}}
		</h3>
		<p class="uppercase">
			{{result.gender}}
		</p>
	</div>
</div>

<div class="clearfix page-member-container">
	<button type="button" ng-click="pagePrev()" class="btn btn-yellow-outline pull-left" ng-class="data.previous === null ? 'disabled' : ''">Prev</button>
	<button type="button" ng-click="pageNext()" class="btn btn-yellow-outline pull-right" ng-class="data.next === null ? 'disabled' : ''">Next</button>
</div>