<div class="row">
	<div class="col-md-12">
		<div class="media media-profile">
			<a class="pull-left" href="#">
				<img class="media-object" src="{{profile.spa.img}}" alt="{{profile.spa.title}}">
			</a>
			<div class="media-body">
				<h3 class="media-heading">{{profile.spa.title}}</h3>
				<span ng-bind-html="$sce.trustAsHtml(profile.spa.description)"></span>
			</div>
		</div>
	</div>
</div>