<div class="row">
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail thumbnail-service">
			<img src="dist/images/img-service-1.jpg" alt="Service 1">
			<div class="caption">
				<h3 class="thumbnail-title text-center">Service 1</h3>
				<p class="text-center">Lorem ipsum dolor sit amet.</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail thumbnail-service">
			<img src="dist/images/img-service-2.jpg" alt="Service 2">
			<div class="caption">
				<h3 class="thumbnail-title text-center">Service 2</h3>
				<p class="text-center">Lorem ipsum dolor sit amet.</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail thumbnail-service">
			<img src="dist/images/img-service-3.jpg" alt="Service 3">
			<div class="caption">
				<h3 class="thumbnail-title text-center">Service 3</h3>
				<p class="text-center">Lorem ipsum dolor sit amet.</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail thumbnail-service">
			<img src="dist/images/img-service-4.jpg" alt="Service 4">
			<div class="caption">
				<h3 class="thumbnail-title text-center">Service 4</h3>
				<p class="text-center">Lorem ipsum dolor sit amet.</p>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<div class="thumbnail thumbnail-service">
			<img src="dist/images/img-service-1.jpg" alt="Service 5">
			<div class="caption">
				<h3 class="thumbnail-title text-center">Service 5</h3>
				<p class="text-center">Lorem ipsum dolor sit amet.</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail thumbnail-service">
			<img src="dist/images/img-service-2.jpg" alt="Service 6">
			<div class="caption">
				<h3 class="thumbnail-title text-center">Service 6</h3>
				<p class="text-center">Lorem ipsum dolor sit amet.</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail thumbnail-service">
			<img src="dist/images/img-service-3.jpg" alt="Service 7">
			<div class="caption">
				<h3 class="thumbnail-title text-center">Service 7</h3>
				<p class="text-center">Lorem ipsum dolor sit amet.</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail thumbnail-service">
			<img src="dist/images/img-service-4.jpg" alt="Service 8">
			<div class="caption">
				<h3 class="thumbnail-title text-center">Service 8</h3>
				<p class="text-center">Lorem ipsum dolor sit amet.</p>
			</div>
		</div>
	</div>
</div>